@charset "ISO-8859-1";
html {
	background-color: red;
	font-size: 18px;
	color: black;
}

.nav-style {
	display: inline;
}

.photoofme {
	height: 20%;
	width: 20%;
}

.rockphotos {
	height: 20%;
	width: 20%;
}

.linkedin {
	height: 8%;
	width: 8%;
}

.javalogo {
	height: 2%;
	width: 3%;
}

.center {
	text-align: center;
}